   /* FOOTER - PREMIUM ADVANCED */

.footer-advanced {
  background: rgba(0, 0, 0, 0.65);
  color: #c9d1d9;
  padding: 30px 8%;
  padding-bottom: 10px;
  margin-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-top {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1.2fr;
  gap: 40px;
}

/* Brand Section */
.footer-logo {
  font-size: 1.9rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 110px;
}
.footer-logo span {
  background: linear-gradient(45deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.footer-about p {
  font-size: 0.95rem;
  opacity: 0.85;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #c5c5c5;
}

/* Social Icons */
.footer-social a {
  font-size: 1.3rem;
  margin-right: 15px;
  color: #e1e1e1;
  cursor: pointer;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #00b4ff;
  transform: translateY(-4px);
}

/* Links */
.footer-links h3,
.footer-contact h3 {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-links a {
  display: block;
  color: #c5c5c5;
  margin-bottom: 10px;
  font-size: 0.95rem;
  transition: 0.3s;
  text-decoration: none;
}

.footer-links a:hover {
  color: #00b4ff;
  transform: translateX(6px);
}

/* Contact */
.footer-contact p {
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #c5c5c5;
}

/* App Buttons */
.footer-apps img {
  height: 40px;
  width: 250px;
  transition: 0.3s;
  margin-right: 15px;
  margin-top: 20px;
  filter: brightness(0.9);
  cursor: pointer;
}

.footer-apps img:hover {
  /* transform: scale(1.05); */
  filter: brightness(1);
}

/* Bottom Bar */
.footer-bottom {
  text-align: center;
  padding: 20px 0 0;
  font-size: 0.9rem;
  color: #999;
  border-top: 1px solid rgba(255,255,255,0.07);
  margin-top: 15px;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-apps img {
    width: 120px;
  }
}
